.input{
    display: flex;
    width: 90%;
    position: relative;
    align-items: center;
}

.input__box{
    width: 100%;
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 5px black;
}

.input__box:focus {
    box-shadow: 0 0 10px 1000px rgba(0,0,0,0.5);
    outline: none
}

.input__submit{
    width: 100%;
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 5px black;
}

.input__submit:hover {
    background-color: blue;
}

.input__submit:active {
    transform: scale(0.8);
    box-shadow: 0 0 5px black;
}