/* General Tab Styles */

.inner-content {
  width: 100%;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.tabs {
  width: 100%;
  height: 80vh;
}

/* PlayerStatsTab Styles */

.playerStatsTab {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.playerChartContainer {
  width: 70%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.chartContents {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.chartSVGContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: fit-content;
  align-items: center;
}

/* sprayChartSVG */

.sprayChartSVG {
  width: 500px;
  height: 100%;
}

.sprayChartRect {
  width: 500px;
  height: 500px;
  fill: #fac476;
  stroke: black;
  stroke-width: 2;
}
/*  */


.chartCommentContainer {
  width: 100%;
  height: 100%;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.chartContentHeader {
  text-align: center;
  margin-bottom: 10px;
}

.commentForm {
  width: auto;
  height: 500px;
  overflow-y: scroll;
  border: 2px solid #003069;
  border-radius: 5px;
  margin-bottom: 10px;
}

.commentForm::-webkit-scrollbar {
  display: none;
}

.notEditing {
  padding: 0px 5px 0px 5px;
}

.commentTextArea {
  width: 100%;
  height: 100%;
  border: none;
  padding: 5px;
}

.commentBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  text-align: center;
  background-color: white;
  color: #003069;
  border: 2px solid #003069;
  border-radius: 10px;
}

.commentBtn:hover {
  background-color: #003069;
  color: white;
}

.commentBtn:hover .commentBtnIcon {
  filter: invert(1);
}

.commentBtnText {
  font-size: large;
  font-weight: 600;
  margin-right: 5px;
}


.commentBtnIcon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-bottom: 3px;
}

.commentContents {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  justify-content: space-between;
}

.commentLine {
  margin-bottom: 1%;
}

.playersInfoContainer {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  padding-top: 30px;
}

.selectedPlayerContainer {
  border: 1px solid black;
  height: 30%;
  display: flex;
  flex-direction: row;
}

.selectedPlayerInfoContainer {
  border: 1px solid black;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding-left: 7%;
}

.selected {
  background-color: #003069;
  color: white;
  font-weight: 600;
  border-radius: 8px;
}

.selectedPlayerImg {
  height: 100%;
}

.selectedPlayerInfoText {
  margin: 2% 0 2% 0;
}

.rosterHeader {
  margin: 2% 0% 2% 0%;
  text-align: center;
}

.teamRosterContainer {
  border: 1px solid black;
  height: 70%;
  overflow-y: scroll;
}

.teamRosterList {
  padding: 0% 2% 0% 2%;
}

.playerName {
  display: flex;
  flex-direction: row;
  margin: 5px 0px 5px 0px;
  padding: 5px 5px 5px 5px;
  cursor: pointer;
}

.rosterNumber {
  display: flex;
  width: 15%;
}

/* TeamStatsTab Styles */

.teamStatsTab {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.teamsStatsContainer {
  border: 1px solid black;
  width: 35%;
  }

.teamsStatsTable {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  text-align: center;
}

.teamStatsContainer {
  width: 65%;
  display: flex;
  align-items: flex-start;
  border: 1px solid black;
}

.teamStatsTable {
  width: 100%;
  height: 100%;
  text-align: center;
}

.headerRow {
  height: 5%;
}

.teamsStatsHeader {
  border: 1px solid black;
  padding: 2%;
  background-color: #a4a4c3;
  font-weight: 500;
}

.teamStatsTitle {
  background-color: lightgray;
  font-weight: 500;
}

.teamStatsCell {
  border: 1px solid black;
  vertical-align: middle;
}

.indivStatsTh {
  vertical-align: middle;
  border: 1px solid black;
  background-color: #a4a4c3;
  padding: 5px;
  font-weight: 500;
}

.evenCell {
  background-color: lightgray;

}

/* RotationsTab Styles */

.rotationsTab {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.rotationsTab__columns {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden ;
}

.rotationsTab__column {
  flex: 1;
  width: 100%;
  height: 100%;
}

.RotationContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 100%;
  height: 95%;
  align-items: center;
}

.rotationNumber {
  padding: 5px;
}

.lineUpContainer {
  width: 60%;
  height: 15%;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 10px 0px 10px 0px;
}

.lineUpContainer > .playerNumber {
  flex: 1 1 30%; /*grow | shrink | basis */
}

.playerNumber {
  border: 1px solid black;
  height: 49%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notesContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 400px;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.chartInfoContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.rotationSVGContainer {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  display: flex;
  align-self: flex-start;
  margin: 10px;
}

.rotationChartSVG {
  min-width: 400px;
  min-height: 400px;
}

.rotationNotesTable {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border: 2px solid black;
}

.rotationNotesTable th {
  background-color: #a4a4c3;
  font-weight: 500;
}

.rotationNotesTable td {
  /* padding: 1rem; */
  border: 1px solid #ccc;
  height: calc(100% / 6);
  text-align: center;
  vertical-align: middle;
}

.notesTableTh {
  border: 2px solid black;
  padding: 2px;
}

.notesRowTitle {
  font-weight: 500;
  background-color: lightgrey;
}

.blockingSchemeContainer {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 10%;
  align-items: center;
}

.blockingSchemeContent {
  border: 2px solid black;
  border-radius: 5px;
  width: 85%;
  height: 100%;
  padding: 5px;
}

.noAPIContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20%;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}