/* General Tab Styles */

.inner-content {
  width: 100%;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.tabs {
  width: 100%;
  height: 80vh;
}

/* PlayerStatsTab Styles */

.playerStatsTab {
  border: 1px solid black ;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.playerChartContainer {
  border: 1px solid black ;
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 1%;
  padding: 1%;
  position: relative;
}

.chartSVGContainer {
  border: 1px solid black;
  height: 100%;
  width: 100%;
}

/* sprayChartSVG */

.sprayChartSVG {
  width: 900;
  height: 600;
}

.sprayChartRect {
  /* x: 200;
  y: 50; */
  width: 500;
  height: 500;
  fill: white;
  stroke: black;
  stroke-width: 2;
}
/*  */


.chartCommentContainer {
  margin-top: auto;
  min-height: 20%;
  display: flex;
  flex-direction: column;
}

.commentForm {
  /* display: ; */
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.commentForm::-webkit-scrollbar {
  display: none;
}

.notEditing {
  padding: 1%;
}

.commentTextArea {
  width: 100%;
  height: 100%;
  padding: 0;
}

.commentBtn {
  /* float: right; */
  width: 50px;
  text-align: center;
  padding: 0%;
}

.commentContents {
  border: 1px solid black;
  margin-top: auto;
  height: 100%;
  /* position: relative; */
  /* padding: 2%; */
  display: flex;
}

.commentLine {
  margin-bottom: 1%;
}

.playersInfoContainer {
  border: 1px solid black ;
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 1%;
  padding: 1%;
}

.selectedPlayerContainer {
  border: 1px solid black;
  height: 30%;
  display: flex;
  flex-direction: row;
}

.selectedPlayerInfoContainer {
  border: 1px solid black;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding-left: 7%;
}

.selected {
  background-color: lightgrey;
}

.selectedPlayerImg {
  height: 100%;
}

.selectedPlayerInfoText {
  margin: 2% 0 2% 0;
}

.rosterHeader {
  margin: 2% 0% 2% 0%;
}

.teamRosterContainer {
  border: 1px solid black;
  height: 70%;
  /* padding: 3%; */;
  overflow-y: scroll;
}

.teamRosterList {
  padding: 0% 2% 0% 2%;
}

.playerName {
  margin: 5px 0px 5px 0px;
  padding: 5px 5px 5px 5px;
  cursor: pointer;
}

/* TeamStatsTab Styles */

.teamStatsTab {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.teamsStatsContainer {
  border: 1px solid black;
  width: 35%;
  overflow-y: scroll;
  }

.teamsStatsTable {
  width: 100%;
  border: 1px solid black;
  /* table-layout: fixed; */
  text-align: center;
  margin-bottom: 3%;
}

.teamStatsContainer {
  border: 1px solid black;
  width: 65%;
  display: flex;
  /* justify-content: center; */
  align-items: flex-start;

}

.teamStatsTable {
  width: 100%;
  border: 1px solid black;
  /* table-layout: fixed; */
  text-align: center;
}

.headerRow {
  height: 5%;
}

th {
  border: 1px solid black;
}

.teamStatsCell {
  border: 1px solid black;
}

/* RotationsTab Styles */

.rotationsTab {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.rotationsTab__columns {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden ;
}

.rotationsTab__column {
  flex: 1;
  width: 100%;
  height: 100%;
}

.RotationContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.lineUpContainer {
  width: 80%;
  height: 15%;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.lineUpContainer > .playerNumber {
  flex: 1 1 30%; /*grow | shrink | basis */
}

.playerNumber {
  border: 1px solid black;
  height: 49%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* cursor: pointer; */
}

.notesContainer {
  width: 80%;
  height: 15%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rotationSVGContainer {
  width: 90%;
  height: 60%;
  border: 1px solid black;
}

.rotationChartSVG {
  min-width: 500;
  min-height: 500;
}

/* RotationsTab Styles */


.playsTab {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}