.right {
    float:right;
}

.left{
    float:left
}

.right-hide {
    float:right;
    display: none;
}

.left-hide{
    float:left;
    display : none;
}

.tableButton:disabled{
    background-color: #9d9dab; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 16px;
}


.tableButton:enabled{
    background-color: #8D8DB3; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 16px;
}

.tableButton:enabled:hover{
    transform: translate(0px, 3px);
    -webkit-transform: translate(0px, 3px);
    box-shadow: 0px 1px 0px 0px;
    background-color: #6b6c96
}

.switchButton{
    background-color: #533178; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 16px;
}

.switchButton:hover{
    transform: translate(0px, 3px);
    -webkit-transform: translate(0px, 3px);
    box-shadow: 0px 1px 0px 0px;
    background-color: #4a3882
}






#playerOptions{
    overflow-y:auto;
    max-height: 150px;
}

.scrollable{
    overflow-y: auto;
}

button[id = "calendarButton"]{
    background-color: #4CAF50;
    white-space: nowrap;
    display: inline-block;
}

.inLine{
    display: inline-block;
    margin-right: 75px;
}

.calendarItem{
    list-style-type: none;
    margin:30px;
    padding: 10px;
    background-color: #EAF0F6;
}

table[class="shotEntryTable"]{
    width: auto;
    nav-down:auto;
    height: auto;
    margin-top: auto;
    border: none;
}
::-webkit-datetime-edit { padding: 1em; }
::-webkit-datetime-edit-text {padding: 0 0.3em;}

input[type="date"]{
    font-family: 'Rubik', sans-serif;
    text-align:center;
    margin-bottom: 20px;
}

div[class="playerOptions"]{
    margin-top: 50;
}

#dateOfShots{
    margin-bottom: 5px;
}

.playerNotes{
    display: none;
}

/* data-tooltip CSS help from:
https://stackoverflow.com/questions/9150796/change-how-fast-title-attributes-tooltip-appears
https://css-tricks.com/different-transitions-for-hover-on-hover-off/
*/
[data-tooltip] {
    position: relative;
    
  }
 


[data-tooltip]:disabled:after {
    content: attr(data-tooltip);
    position: absolute;
    left: 5%;
    bottom: -30%; /* put it on the top */
    color: black;
    width: max-content;
    opacity: 0;
    transition: .2s ease-in .001s;
    
    
    
  }

  [data-tooltip]:disabled:hover:after {
    opacity: 1;
    transition: .2s ease-in .25s;
  }