.right {
    float:right;
    /*background-image: url("https://d31kydh6n6r5j5.cloudfront.net/uploads/sites/158/2020/06/simplified-carleton-symbol.png");*/
}

.left{
    float:left;
}

.padding { 
    padding: 50px
}

.padding-small { 
    padding: 25px
}

tr.spaceUnder>th.padding {
    padding-bottom: 150px;
  }
#allRotations{
    overflow-y:auto;
    max-height: 150px;
}

#show{
    display: "block";
}
#hide{
    display: "none";
}
.notesField{
    height: 50px;
    width: 150px;
    font-family: 'Rubik', sans-serif;
    margin-left: 40px;
}
.inLine{
    display: inline-block;
    margin-right: 75px;
}

button[class="saveButton"] {
    background-color: #595974; /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    border-radius: 8px;
}
button[class = "saveButton"]:hover{
    transform: translate(0px, 3px);
    -webkit-transform: translate(0px, 3px);
    box-shadow: 0px 1px 0px 0px;
    background-color: #757490;
}

table[class="rotationTable"] {
    border: 4px solid #a4a4c3;
    width: 400px;
    height: 300px;
    position: relative;
    top: 0px;
  }
th,tr[class="rotationTable"] {
    border: 2px solid #a4a4c3;
  }



#switchShotEntry{
    text-align: center;
    float: right;
    background-color: #533178; 
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 16px;

}

#switchShotEntry:hover{
    transform: translate(0px, 3px);
    -webkit-transform: translate(0px, 3px);
    box-shadow: 0px 1px 0px 0px;
    background-color: #4a3882
}

button[type="rotationButton"]{
    background-color: #797B9F; /* Green */
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    border-radius: 8px;
}
button[type="rotationButton"]:hover{
    transform: translate(0px, 3px);
    -webkit-transform: translate(0px, 3px);
    box-shadow: 0px 1px 0px 0px;
    background-color: #6b6c96
}


.changeButton:enabled{
    background-color: #797B9F; /* Green */
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    border-radius: 16px;
}
.changeButton:disabled{
    background-color: #9d9dab; /* Green */
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    border-radius: 16px;
}

.changeButton:enabled:hover{
    transform: translate(0px, 3px);
    -webkit-transform: translate(0px, 3px);
    box-shadow: 0px 1px 0px 0px;
    background-color: #6b6c96
}


.textInput{
    padding:5px;
    margin-top: 6px;

    margin-left: 3px;
    
  border:.02px;
  box-shadow:0 0 15px 2px rgba(0,0,0,0.15);
    outline: none;
}


.serveTransitionInputs{
    margin:auto;
    width: 100%;

}



.inputFieldTable{
    border:none;
    margin: 5px
}


.notesField{
    overflow: auto;
    outline: none;
}

#SaveButtonArea{
    white-space: nowrap;
}

#SavedTextBlockingNotes{
    display: inline;
    padding-left: 10px;
    opacity: 0%;
    
    
}
#SavedTextServeTransition{
    display: inline;
    padding-left: 10px;
    opacity: 0%;
    
    
}

#SaveButtonBottom{
    text-align: center;
    margin-left: 60px;
}